:root {
  color: #f7fbff;
  background: #151c43;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #6be5be;
  text-decoration: none;
}

a:hover {
  color: #9ff3d8;
}
