:root {
  color: #f7fbff;
  background: #080808;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #cfb991;
  text-decoration: none;
}

a:hover {
  color: #e8dcc2;
}
